<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index Page</title>
</head>
<body>
Hello from Index
<br>
<span th:text="${greetings}"/>
<span th:text="${someText}"/>

<br>
<div th:each="car : ${carList}">
    <span th:text="${car}"></span>
</div>

<div>
    <table>
        <thead>
        <td>Id</td>
        <td>Name</td>
        <td>Salary</td>
        </thead>
        <tbody>
        <tr th:each="employee : ${employeeList}">
            <td th:text="${employee.id}"/>
            <td th:text="${employee.getName()}"/>
            <td th:text="${employee.salary}"/>
        </tr>
        </tbody>
    </table>
</div>


</body>
</html>